<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-apache_Access</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>apache_Access</id>
      <filePathMask>**</filePathMask>
      <fileNameMask>*access*</fileNameMask>
      <priority>10</priority>
      <expression>(*) (*) (*) \[(*\])\] \&quot;(*\&quot;)\&quot; (*) (*)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1456307972584</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>rHost</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>clientId</name>
          <funct>count(_host)</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>user</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>timestamp</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>request</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>statusCode</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>bytes</name>
          <funct>avg(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.SplitField>
          <name>url</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>split, ,2</expression>
          <synthSrcField>request</synthSrcField>
        </com.liquidlabs.log.fields.field.SplitField>
        <com.liquidlabs.log.fields.field.SubstringField>
          <name>resource</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expressionControl>lastsubstring,/,To</expressionControl>
          <synthSrcField>url</synthSrcField>
        </com.liquidlabs.log.fields.field.SubstringField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>resType</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>\.(\w+)</expression>
          <synthSrcField>resource</synthSrcField>
          <synthRegExp>.*?\.(\w+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>megabytes</name>
          <funct>avg(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>bytes</synthSource>
          <expression>groovy-script: return new Double(bytes/(1024*1024)).round(4)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>reqType</name>
          <funct>count(_host)</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(GET|HEAD|POST|PUT|DELETE|CONNECT|OPTIONS|TRACE)</expression>
          <synthSrcField>request</synthSrcField>
          <synthRegExp>.*?(GET|HEAD|POST|PUT|DELETE|CONNECT|OPTIONS|TRACE).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
      </fields>
      <example>
        <string>96.255.84.118 - - [07/Apr/2013:23:21:04 -0400] &quot;GET /stylesheets/bootstrap.css?1363677895 HTTP/1.1&quot; 200 100078 &quot;http://logscape.com/&quot; &quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3) AppleWebKit/536.28.10 (KHTML, like Gecko) Version/6.0.3 Safari/536.28.10&quot;</string>
        <string>127.0.0.1 user-identifier frank [10/Oct/2000:13:55:36 -0700] &quot;GET /apache_pb.gif HTTP/1.0&quot; 200 2326</string>
        <string>127.0.0.1 user-identifier frank [10/Oct/2000:13:55:36 -0700] &quot;GET /apache_pb.gif HTTP/1.0&quot; 200 2326</string>
        <string>139.72.252.139 - - [25/Jun/2013:11:35:10 -0400] &quot;POST /DecisionService/ws/FCLFARServiceRuleApp/1.0/FCLFARServiceRules?WSDL HTTP/1.1&quot; 200 1428</string>
        <string>139.72.252.139 - - [25/Jun/2013:11:35:11 -0400] &quot;POST /DecisionService/ws/FCLFARServiceRuleApp/1.0/FCLFARServiceRules?WSDL HTTP/1.1&quot; 200 1429</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-apache_Error</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>apache_Error</id>
      <filePathMask>tag:Apache</filePathMask>
      <fileNameMask>*error*</fileNameMask>
      <priority>100</priority>
      <expression>\[(* * * * *)\] \[(*)\] (**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1427282289480</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>timestamp</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>msg</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
      </fields>
      <example>
        <string>[Sat Feb 28 08:06:35 2015] [error] [client 172.17.17.97] Invalid URI in request GET //../../../../../../../../../../../../../../../../../../../../../passwd HTTP/1.1</string>
        <string>[Sat Feb 28 08:06:38 2015] [error] [client 172.17.17.97] User failed authentication for /: failed Kerberos validation: Bad packet</string>
        <string>[Sat Feb 28 08:06:38 2015] [error] [client 172.17.17.97] User failed authentication for /localstart.asp: failed Kerberos validation: Bad packet</string>
        <string>[Sat Feb 28 08:06:41 2015] [error] [client 172.17.17.97] client denied by server configuration: /appl/ion/ion_pp/mkvweb_site/*</string>
        <string>[Sat Feb 28 08:06:41 2015] [error] [client 172.17.17.97] Invalid URI in request GET /../../../../../../../../../ HTTP/1.1</string>
        <string>[Sat Feb 28 08:06:45 2015] [error] [client 172.17.17.97] Invalid Content-Length</string>
        <string>[Sat Feb 28 08:06:46 2015] [error] [client 172.17.17.97] Invalid URI in request GET /../../../../../../../ HTTP/1.1</string>
        <string>[Sat Feb 28 08:07:29 2015] [error] [client 172.17.17.97] Client sent malformed Host header</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1427272438697-81244</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1427272438697-81244</wdId>
      <tags>Apache</tags>
      <dirName>D:/Apache*/logs/**,/var/log/apache*/**,/var/log/httpd/**</dirName>
      <hosts></hosts>
      <filePattern>*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>365</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>0,7,Gzip_Compress</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
